---
layout: cookz
---

<article class="page">
  <div class="entry">
    {{ content }}

    <div class="food-menu">
      <img src="{{ site.baseurl }}/images/cookz/kitchen-egg-70px.png">
      <ul>
        {% for recipe in site.recipes %}
          {% if recipe.keywords contains 'mic-dejun' %}
            <li><a href="{{ site.baseurl }}{{ recipe.url }}">{{ recipe.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>

      <img src="{{ site.baseurl }}/images/cookz/kitchen-plate-70px.png">
      <ul>
        {% for recipe in site.recipes %}
          {% if recipe.keywords contains 'supă' %}
            <li><a href="{{ site.baseurl }}{{ recipe.url }}">{{ recipe.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>

      <img src="{{ site.baseurl }}/images/cookz/kitchen-stove-70px.png">
      <ul>
        {% for recipe in site.recipes %}
          {% if recipe.keywords contains 'felul 2' %}
            <li><a href="{{ site.baseurl }}{{ recipe.url }}">{{ recipe.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>

      <img src="{{ site.baseurl }}/images/cookz/kitchen-knife-spoon-fork-70px.png">
      <ul>
        {% for recipe in site.recipes %}
          {% if recipe.keywords contains 'altele' %}
            <li><a href="{{ site.baseurl }}{{ recipe.url }}">{{ recipe.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>

      <img src="{{ site.baseurl }}/images/cookz/kitchen-muffin-70px.png">
      <ul>
        {% for recipe in site.recipes %}
          {% if recipe.keywords contains 'desert' %}
            <li><a href="{{ site.baseurl }}{{ recipe.url }}">{{ recipe.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>

      <img src="{{ site.baseurl }}/images/cookz/kitchen-refrigerator-70px.png">
      <ul>
        {% for recipe in site.recipes %}
          {% if recipe.keywords contains 'sosuri' %}
            <li><a href="{{ site.baseurl }}{{ recipe.url }}">{{ recipe.title }}</a></li>
          {% endif %}
        {% endfor %}
        <br />
        {% for recipe in site.recipes %}
          {% if recipe.despre == true %}
            <li><a href="{{ site.baseurl }}{{ recipe.url }}">{{ recipe.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="meta-menu">
        <p>
          {% assign despre_size = site.recipes | where: "despre", true | size) %}
          {{ (site.recipes | size) | minus: despre_size }} rețete
          <br />
          {{ site.recipes | where: "fără-carne", true | size }} rețete fără carne
          <br />
          {{ despre_size }} rețete informaționale
        </p>
    </div>
  </div>
</article>
